.profile-img {
  width: 50px;
  position: fixed;
  top: -85px;
  right: -75px;
}

.profile-img:hover {
  width: 70px;
  position: fixed;
  top: -85px;
  right: -75px;
}

.auth-container {
  display: inline-block;
  align-content: space-between;
  color: white;
}

.user-text {
  display: inline-flex;
}
