.profile-img {
  width: 100px;
  position: fixed;
  top: -20px;
  right: -20px;
}

.auth-container {
  display: inline-block;
  align-content: space-between;
}

.user-text {
  display: inline-flex;
}
