.user-features {
  display: inline-block;
  flex-direction: row;
  top: 0px;
}

.bank-container {
  background-image: url("gob3.webp");
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
