.user-features {
  display: inline-block;
  flex-direction: row;
  top: 0px;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
  position: relative;
}

.bank-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url("gob3.webp");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  color: white;
}
